<div class="dialog-component">
  <h1 mat-dialog-title>Select Terminal</h1>
  <div mat-dialog-content>
    <div class="clear-session">
      <button
        mat-raised-button
        class="clear-session-btn"
        matTooltip="clear current session and start again"
        aria-label="clear current session and start again"
        matTooltipPosition="below"
        (click)="onClearSession()"
      >
        <mat-icon>refresh</mat-icon>
      </button>
    </div>

    <mat-divider [inset]="true"></mat-divider>

    <span>
      <button mat-button [mat-dialog-close]="'QueryMLA'">QueryMLA</button>
      <button
        mat-icon-button
        class="save-load-btn"
        matTooltip="load progress from this terminal"
        matTooltipPosition="below"
        (click)="onLoadState('QueryMLA')"
      >
        <mat-icon>file_upload</mat-icon>
      </button>
    </span>
    <span>
      <button mat-button [mat-dialog-close]="'MLA_CommPortal'">
        MLA_CommPortal
      </button>
      <button
        mat-icon-button
        class="save-load-btn"
        matTooltip="load progress from this terminal"
        matTooltipPosition="below"
        (click)="onLoadState('MLA_CommPortal')"
      >
        <mat-icon>file_upload</mat-icon>
      </button>
    </span>
    <mat-divider [inset]="true"></mat-divider>

    <span>
      <button mat-button [mat-dialog-close]="'Milton1_1'">Milton1_1</button>
      <button
        mat-icon-button
        class="save-load-btn"
        matTooltip="load progress from this terminal"
        matTooltipPosition="below"
        (click)="onLoadState('Milton1_1')"
      >
        <mat-icon>file_upload</mat-icon>
      </button>
    </span>
    <span>
      <button mat-button [mat-dialog-close]="'Milton1_2'">Milton1_2</button>
      <button
        mat-icon-button
        class="save-load-btn"
        matTooltip="load progress from this terminal"
        matTooltipPosition="below"
        (click)="onLoadState('Milton1_2')"
      >
        <mat-icon>file_upload</mat-icon>
      </button>
    </span>
    <mat-divider [inset]="true"></mat-divider>

    <span>
      <button mat-button [mat-dialog-close]="'Milton2_1'">Milton2_1</button>
      <button
        mat-icon-button
        class="save-load-btn"
        matTooltip="load progress from this terminal"
        matTooltipPosition="below"
        (click)="onLoadState('Milton2_1')"
      >
        <mat-icon>file_upload</mat-icon>
      </button>
    </span>
    <span>
      <button mat-button [mat-dialog-close]="'Milton2_2'">Milton2_2</button>
      <button
        mat-icon-button
        class="save-load-btn"
        matTooltip="load progress from this terminal"
        matTooltipPosition="below"
        (click)="onLoadState('Milton2_2')"
      >
        <mat-icon>file_upload</mat-icon>
      </button>
    </span>
    <span>
      <button mat-button [mat-dialog-close]="'Milton2_3'">Milton2_3</button>
      <button
        mat-icon-button
        class="save-load-btn"
        matTooltip="load progress from this terminal"
        matTooltipPosition="below"
        (click)="onLoadState('Milton2_3')"
      >
        <mat-icon>file_upload</mat-icon>
      </button>
    </span>
    <span>
      <button mat-button [mat-dialog-close]="'Milton2_4'">Milton2_4</button>
      <button
        mat-icon-button
        class="save-load-btn"
        matTooltip="load progress from this terminal"
        matTooltipPosition="below"
        (click)="onLoadState('Milton2_4')"
      >
        <mat-icon>file_upload</mat-icon>
      </button>
    </span>
    <span>
      <button mat-button [mat-dialog-close]="'Milton2_5'">Milton2_5</button>
      <button
        mat-icon-button
        class="save-load-btn"
        matTooltip="load progress from this terminal"
        matTooltipPosition="below"
        (click)="onLoadState('Milton2_5')"
      >
        <mat-icon>file_upload</mat-icon>
      </button>
    </span>
    <span>
      <button mat-button [mat-dialog-close]="'Milton2_6'">Milton2_6</button>
      <button
        mat-icon-button
        class="save-load-btn"
        matTooltip="load progress from this terminal"
        matTooltipPosition="below"
        (click)="onLoadState('Milton2_6')"
      >
        <mat-icon>file_upload</mat-icon>
      </button>
    </span>

    <mat-divider [inset]="true"></mat-divider>

    <span>
      <button mat-button [mat-dialog-close]="'Milton3_1'">Milton3_1</button>
      <button
        mat-icon-button
        class="save-load-btn"
        matTooltip="load progress from this terminal"
        matTooltipPosition="below"
        (click)="onLoadState('Milton3_1')"
      >
        <mat-icon>file_upload</mat-icon>
      </button>
    </span>
    <span>
      <button mat-button [mat-dialog-close]="'Milton3_2'">Milton3_2</button>
      <button
        mat-icon-button
        class="save-load-btn"
        matTooltip="load progress from this terminal"
        matTooltipPosition="below"
        (click)="onLoadState('Milton3_2')"
      >
        <mat-icon>file_upload</mat-icon>
      </button>
    </span>
    <span>
      <button mat-button [mat-dialog-close]="'Milton3_3'">Milton3_3</button>
      <button
        mat-icon-button
        class="save-load-btn"
        matTooltip="load progress from this terminal"
        matTooltipPosition="below"
        (click)="onLoadState('Milton3_3')"
      >
        <mat-icon>file_upload</mat-icon>
      </button>
    </span>
    <span>
      <button mat-button [mat-dialog-close]="'Milton3_4'">Milton3_4</button>
      <button
        mat-icon-button
        class="save-load-btn"
        matTooltip="load progress from this terminal"
        matTooltipPosition="below"
        (click)="onLoadState('Milton3_4')"
      >
        <mat-icon>file_upload</mat-icon>
      </button>
    </span>
    <span>
      <button mat-button [mat-dialog-close]="'Milton3_5'">Milton3_5</button>
      <button
        mat-icon-button
        class="save-load-btn"
        matTooltip="load progress from this terminal"
        matTooltipPosition="below"
        (click)="onLoadState('Milton3_5')"
      >
        <mat-icon>file_upload</mat-icon>
      </button>
    </span>
  </div>
  <div mat-dialog-actions></div>
</div>
